i{
	background-image:url(/icons.jpg);
	background-repeat:no-repeat;
	display:inline-block;
}

@mixin background($width,$height,$x,$y){
	width:$width;
	height:$height;
	background-position:$x $y;
}

i.site-logo {	
	@include background(160px,150px,-30px,20px);
}