nav {
	margin-top: 20px;
	ul {
		list-style-type: none;
		padding-left: 0;
		li {
			display: inline;
			margin-right: 20px;
		}
	}
	a {
		&:visited {
			color: #428bca;
		}
	}
}

.logo {
	height: 150px;
	// margin-bottom: 10px;
	i {
		vertical-align: middle;
	}
	// background-color: grey;
	h1 {
		display: inline;
		font-size: 64px;
		letter-spacing: -2px;
		font-weight: 200;
		color: #808080;
	}
}

.banner {
	height: 450px;
	width: 100%;
	background-color: grey;
}

.extendfull, .extendleft
{
	padding-left: 3000px;
	margin-left: -3000px;
}

.extendfull, .extendright
{
	padding-right: 3000px;
	margin-right: -3000px;
}