<header>
  <nav>
    <%= link_to_unless_current('Flowing', posts_path) %>
    <%= link_to_unless_current('Examples', posts_path) %>
    <%= link_to_unless_current('Documentation', posts_path) %>
    <%= link_to_unless_current('Source', posts_path) %>
  </nav>
</header>